/*Icons for the Accordian*/
.history_icon {
background-image: url(../img/icon/clock.png)
}
.clipboard_icon {
background-image: url(../img/icon/paste_plain.png)
}
.library_icon {
background-image: url(../img/icon/book.png)
}
.misc_icon {
background-image: url(../img/icon/tux.png)
}
/*Icons for the center panel titles*/
.canvas_icon {
background-image: url(../img/icon/paintbrush.png)
}
.preview_icon {
background-image: url(../img/icon/zoom.png)
}
.animations_icon {
background-image: url(../img/icon/control_play.png)
}

/* Icons for the animation browser */

.player_icon {
background-image: url(../img/icon/control_play.png)
}
.browse_icon {
background-image: url(../img/icon/folder_go.png)
}

.play_icon {
background-image: url(../img/icon/control_play_blue.png)
}
.ff_icon {
background-image: url(../img/icon/control_fastforward_blue.png)
}
.fr_icon {
background-image: url(../img/icon/control_rewind_blue.png)
}
.stop_icon {
background-image: url(../img/icon/control_stop_blue.png)
}


