/*
Likely a very very very huge file.

All the icons in the toolbar (basically the majority of them)
*/


/*---------------File Menu---------------*/
.tb_new {
background-image: url(../img/icon/page_add.png)
}
.tb_open {
background-image: url(../img/icon/folder_go.png)
}
.tb_save {
/*background-image: url(../img/icon/drive_go.png)*/
background-image: url(../img/icon/disk.png)
}
.tb_publish {
background-image: url(../img/icon/page_white_flash.png)
}

.tb_comp {
background-image: url(../img/icon/computer_go.png)
}
.tb_server {
background-image: url(../img/icon/drive_web.png)
}
.tb_url {
background-image: url(../img/icon/world_link.png)
}
.tb_text {
background-image: url(../img/icon/textfield.png)
}

/*---------------Edit Menu---------------*/
.tb_undo {
background-image: url(../img/icon/arrow_undo.png)
}
.tb_redo {
background-image: url(../img/icon/arrow_redo.png)
}
.tb_cut {
background-image: url(../img/icon/cut_red.png)
}
.tb_copy {
background-image: url(../img/icon/page_copy.png)
}
.tb_paste {
background-image: url(../img/icon/page_paste.png)
}
.tb_delete {
background-image: url(../img/icon/delete.png)
}
/*---------------View Menu---------------*/
.tb_animation {
background-image: url(../img/icon/page_white_flash.png)
}
.tb_theme {
background-image: url(../img/icon/application_double.png)
}
/*---------------Tools Menu---------------*/
.tb_color {
background-image: url(../img/icon/color_wheel.png)
}
.tb_tools {
background-image: url(../img/icon/paintbrush.png)
}
.tb_debug {
background-image: url(../img/icon/bug_go.png)
}
.tb_script {
background-image: url(../img/icon/script_code_red.png)
}
.tb_plugin_conf {
background-image: url(../img/icon/plugin_edit.png)
}
.tb_benchmark {
background-image: url(../img/icon/report.png)
}
.tb_reload {
background-image: url(../img/icon/arrow_refresh.png)
}

/*---------------Timeline Menu---------------*/


.tb_clearframe {
background-image: url(../img/icon/page_delete.png)
}
.tb_newlayer {
background-image: url(../img/icon/add.png)
}
/*
.tb_reload {
See Tools Menu
}
*/
.tb_addkeyframe {
background-image: url(../img/icon/key_add.png)
}
.tb_setlast {
background-image: url(../img/icon/resultset_last.png)
}
.tb_purge_empty {
background-image: url(../img/icon/bin.png)
}
/*---------------Animation Menu---------------*/
.tb_play {
background-image: url(../img/icon/control_play.png)
}
.tb_pause {
background-image: url(../img/icon/control_pause.png)
}
.tb_nf { /*next frame */
background-image: url(../img/icon/control_fastforward.png)
}
.tb_pf { /*previeous frame */
background-image: url(../img/icon/control_rewind.png)
}
.tb_last {
background-image: url(../img/icon/control_end.png)
}
.tb_first {
background-image: url(../img/icon/control_start.png)
}
.tb_recalculate {
background-image: url(../img/icon/database_refresh.png)
}
/*---------------Plugin Menu---------------*/

.tb_plugin {
background-image: url(../img/icon/plugin.png)
}

.tb_plugin_add {
background-image: url(../img/icon/package_add.png) /*Uses package versus plugin because it is more destinct*/
}

/*---------------User Menu---------------*/
.tb_login {
background-image: url(../img/icon/key_go.png)
}
.tb_logout {
background-image: url(../img/icon/door_out.png)
}
.tb_browse {
background-image: url(../img/icon/folder_explore.png)
}
.tb_profile {
background-image: url(../img/icon/vcard.png)
}
/*---------------Help Menu---------------*/
.tb_keyboard {
background-image: url(../img/icon/keyboard.png)
}
.tb_about {
background-image: url(../img/icon/information.png)
}
.tb_comment {
background-image: url(../img/icon/comments.png)
}
.tb_bug {
background-image: url(../img/icon/bug.png)
}
.tb_docs {
background-image: url(../img/icon/book.png)
}
.tb_info {
background-image: url(../img/icon/bricks.png)
}
.tb_tutorial {
background-image: url(../img/icon/lightbulb.png)
}
.tb_donate {
background-image: url(../img/icon/money.png)
}


/*
Used during development

.tb_ {
background-image: url(../img/icon/hourglass.png)
}
*/