/*
Likely a very very very huge file.

All the icons in the toolbar (basically the majority of them)
*/


/*---------------File Menu---------------*/
.tb_new {
background-image: url(../img/silk/page_add.png)
}
.tb_open {
background-image: url(../img/silk/folder_go.png)
}
.tb_save {
/*background-image: url(../img/silk/drive_go.png)*/
background-image: url(../img/silk/disk.png)
}
.tb_publish {
background-image: url(../img/silk/page_white_flash.png)
}
.tb_offline {
background-image: url(../img/silk/disconnect.png)
}

.tb_comp {
background-image: url(../img/silk/computer_go.png)
}
.tb_server {
background-image: url(../img/silk/drive_web.png)
}
.tb_url {
background-image: url(../img/silk/world_link.png)
}
.tb_text {
background-image: url(../img/silk/textfield.png)
}

/*---------------Edit Menu---------------*/
.tb_undo {
background-image: url(../img/silk/arrow_undo.png)
}
.tb_redo {
background-image: url(../img/silk/arrow_redo.png)
}
.tb_cut {
background-image: url(../img/silk/cut_red.png)
}
.tb_copy {
background-image: url(../img/silk/page_copy.png)
}
.tb_paste {
background-image: url(../img/silk/page_paste.png)
}
.tb_delete {
background-image: url(../img/silk/delete.png)
}
/*---------------View Menu---------------*/
.tb_animation {
background-image: url(../img/silk/page_white_flash.png)
}
.tb_theme {
background-image: url(../img/silk2/theme.png)
}
/*---------------Tools Menu---------------*/
.tb_tools {
background-image: url(../img/silk/paintbrush.png)
}
.tb_script {
background-image: url(../img/silk/script_code_red.png)
}
.tb_plugin_conf {
background-image: url(../img/silk/plugin_edit.png)
}
.tb_reload {
background-image: url(../img/silk/arrow_refresh.png)
}
.tb_shield {
background-image: url(../img/silk/shield.png)
}


.tb_recover_canvas {
background-image: url(../img/silk/paintbrush.png)
}
.tb_recover_animation {
background-image: url(../img/silk/film.png)
}
.tb_recover_application {
background-image: url(../img/silk/page_refresh.png)
}


/*---------------Timeline Menu---------------*/


.tb_clearframe {
background-image: url(../img/silk/page_delete.png)
}
.tb_newlayer {
background-image: url(../img/silk/add.png)
}
/*
.tb_reload {
See Tools Menu
}
*/
.tb_addkeyframe {
background-image: url(../img/silk/key_add.png)
}
.tb_insertframe {
background-image: url(../img/silk/page_add.png)
}
.tb_setlast {
background-image: url(../img/silk/resultset_last.png)
}
.tb_purge_empty {
background-image: url(../img/silk/bin.png)
}
/*---------------Animation Menu---------------*/
.tb_play {
background-image: url(../img/silk/control_play.png)
}
.tb_pause {
background-image: url(../img/silk/control_pause.png)
}
.tb_nf { /*next frame */
background-image: url(../img/silk/control_fastforward.png)
}
.tb_pf { /*previeous frame */
background-image: url(../img/silk/control_rewind.png)
}
.tb_last {
background-image: url(../img/silk/control_end.png)
}
.tb_first {
background-image: url(../img/silk/control_start.png)
}
.tb_recalculate {
background-image: url(../img/silk/database_refresh.png)
}
/*---------------Plugin Menu---------------*/

.tb_plugin {
background-image: url(../img/silk/plugin.png)
}

.tb_plugin_add {
background-image: url(../img/silk/package_add.png) /*Uses package versus plugin because it is more destinct*/
}

/*---------------User Menu---------------*/
.tb_login {
background-image: url(../img/silk/key_go.png)
}
.tb_register {
background-image: url(../img/silk/user_add.png)
}
.tb_logout {
background-image: url(../img/silk/door_out.png)
}
.tb_browse {
background-image: url(../img/silk/folder_explore.png)
}
.tb_profile {
background-image: url(../img/silk/vcard.png)
}
/*---------------Help Menu---------------*/
.tb_keyboard {
background-image: url(../img/silk/keyboard.png)
}
.tb_about {
background-image: url(../img/silk/information.png)
}
.tb_comment {
background-image: url(../img/silk/comments.png)
}
.tb_bug {
background-image: url(../img/silk/bug.png)
}
.tb_docs {
background-image: url(../img/silk/book.png)
}
.tb_info {
background-image: url(../img/silk/bricks.png)
}
.tb_tutorial {
background-image: url(../img/silk/wand.png)
}
.tb_tip {
background-image: url(../img/silk/lightbulb.png)
}
.tb_donate {
background-image: url(../img/silk/money.png)
}



