

/*Random Stuff*/	
.invisible {
display:none;
visibility: hidden;
height: 1px;
width: 1px;	
opacity: 0;

}


/*Drawing Toolbar Code To Center Images vertically and horizontally*/
	

	IMG.toolbarItem {
	display: block;
	margin-left: auto;
        margin-right: auto;
	vertical-align: middle
	}
	DIV.toolbarItem {
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	}
	DIV.centerVertical {
	min-height: 10em;
        display: table-cell;
        vertical-align: middle
	}
	
	/* Some Color Picker Code (the buttons) */
	
    DIV.drawColor {
    font-size:small;
    text-align: right;
    background-repeat: no-repeat;
    color: #ffffff;
    }


    /* Some Animation Preview/Richdraw Editor CSS Code */


    #CanvasContainer {
    border:1px solid black;
    background-color:white;
    -moz-user-select:none;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 272px;
    overflow:hidden
    }


    DIV.svgDisplay {
    border: 1px solid black;
    position: relative;
    width:480px;
	margin-left: auto;
	margin-right: auto;
    overflow:hidden;
    height: 272px;
    background-color: white;
    -moz-user-select: none;
    }
	
	.msg .x-box-mc {
    font-size:14px;
	}
	#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
	}

TD.unselKeyframe {
color: #000000;
background-color: #0099CC;
}
TD.selKeyframe {
color: #F2F2F2;
background-color: #3579DC;
}
TD.unselFrame {
color: #000000;
background-color: #ebf2f8;
}
TD.selFrame {
color: #F2F2F2;
background-color: #00BFFF;
}
TD.unselTween {
color: #000000;
background-color: #80FF8E;
}
TD.selTween {
color: #000000;
background-color: #33B843;
}

TD.lastFrame {
color: #FFFFFF;
background-color: #fc9300;
}
TABLE.timeline {
width: 100%;
cursor: default;
-moz-user-select: none;
}
TD.layerTitle {
background-color: #BED6E0;
}
DIV.previewTooltip {
width: 120px;
height: 68px;
border: 1px black solid;
}
.x-cp-rgb-msk {
	background-image: url(../images/picker_mask.png);
	background-color: #FF0000;
	width: 182px;
	height: 182px;
	float: left;
	/* for IE6 png transparency */
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picker_mask.png',sizingMethod='scale');
}
.x-cp-rgb-picker {
	width:11px;
	height:11px; 
	background: url(../images/picker_thumb.png) transparent;
	background-repeat: no-repeat;
}
.x-cp-hue-picker {
	width:18px;
	height:18px;
	left: -2px;
	background: url(../images/hue_thumb.png) transparent;
	background-repeat: no-repeat;
}
.x-cp-hue-msk {
	margin: 0px 0px 0px 3px;
	background-image: url(../images/hue_bg.png);
	background-color: #FF0000;
	width: 14px;
	height: 182px;
	float: left;
}
.x-cp-control-container {
	float: left;
	margin: 0px 0px 0px 3px;
	padding: 0px;
}
.x-cp-control-container label {
	font-size: 9px;
	margin: 0px;
}
.x-cp-color-container, .x-cp-wscolor-container {
	width: 42px;
	height: 16px;
	border: 1px solid gray;
	padding: 1px;
	margin: 2px 0;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
}
.x-cp-rgb-container {
	font-size: 10px;
}
.x-cp-rgb-container .x-form-field, .x-cp-form div.x-form-element {
	height: 12px;
	line-height: 12px;
	padding: 0;
	width: 20px;
}
.x-cp-clear {
	clear: both;
}
.x-cp-hexa-panel {
	height: 30px;
	float: none;
}
.x-cp-form {}