/*Icons for the Accordian*/
.misc_panel_icon {
background-image: url(../img/silk/application_form.png)
}
.history_icon {
background-image: url(../img/silk/clock.png)
}
.clipboard_icon {
background-image: url(../img/silk/paste_plain.png)
}
.library_icon {
background-image: url(../img/silk/book.png)
}
.misc_icon {
background-image: url(../img/silk/tux.png)
}
.user_icon {
background-image: url(../img/silk/user.png)
}
/*Icons for the center panel titles*/
.canvas_icon {
background-image: url(../img/silk/paintbrush.png)
}
.preview_icon {
background-image: url(../img/silk/zoom.png)
}
.animations_icon {
background-image: url(../img/silk/control_play.png)
}
/*icons for center panel top toolbar*/
button.hide_timeline {
background-image: url(../img/silk2/film_eject.png)
}

/* Icons for the animation browser */

.player_icon {
background-image: url(../img/silk/control_play.png)
}
.browse_icon {
background-image: url(../img/silk/folder_go.png)
}

.play_icon {
background-image: url(../img/silk/control_play_blue.png)
}
.ff_icon {
background-image: url(../img/silk/control_fastforward_blue.png)
}
.fr_icon {
background-image: url(../img/silk/control_rewind_blue.png)
}
.stop_icon {
background-image: url(../img/silk/control_stop_blue.png)
}


/*icons for random panels */

.app_settings {
background-image: url(../img/silk/application_form_edit.png)
}
